appdirs==1.4.0
beautifulsoup4==4.5.3
bs4==0.0.1
chardet==2.3.0
click==6.7
cssselect==1.0.1
decorator==4.0.11
Flask==0.12
Flask-Login==0.4.0
ipython==5.2.2
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.9.5
lxml==3.7.3
MarkupSafe==0.23
packaging==16.8
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
ptyprocess==0.5.1
pycurl==7.43.0
Pygments==2.2.0
pyparsing==2.1.10
pyquery==1.2.17
pyspider==0.3.8
requests==2.13.0
selenium==3.0.2
simplegeneric==0.8.1
six==1.10.0
tornado==4.4.2
traitlets==4.3.1
u-msgpack-python==2.3.0
wcwidth==0.1.7
Werkzeug==0.11.15
